* {
  box-sizing: border-box;
}
.Main {
  border: solid black 5px;
  margin: 10px;
}
.table > thead {
  background-color: hsl(0, 0%, 0%);
  color: azure;
}
.form-group {
  margin: 10px;
}
.space {
  margin: 10px;
}
